@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Roboto', sans-serif;
}

.hide {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.3s ease-in-out;
}

.appear {
    opacity: 1;
    transform: translateY(0);
}


